<div>
  <h4><%= flash[:alert] %></h4>
  <% if cookies[:user_id].nil? %>
  <a href="/user/signup">sign up</a> <a href="/user/login">log in</a>
  <% else %>
  <a href="/user/logout">log out</a>
  <% end %>
</div>


<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="superookie.com:3000/wall/posts">Syn3ck -!</a>
      <div class="navbar-content">
        <ul class="nav ">
          <li class="active">
            <a href="/user/signup">signup</a> 
          </li>
          <li>
            <a href="/user/logout">logout</a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h1>1!</h1>
    <p>2</p>
    <p></p>
    <form class="form-inline">
      <label> name  :</label>
      <input type="text" class="input-large" placeholder="..">
      <a class="btn btn-inverse" href="#">this?..!</a> 
    </form>
  </div>




<div class="row main-features">
    <div class="span12">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>...</th>
            <th>..</th>
            <th>....</th>
            <th>.. ..</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Michael</td>
            <td>010-xxxx-aaaa</td>
            <td>false</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jake</td>
            <td>010-xxxx-aaaa</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>










<div style="background-color:#f5f6ce"; >
<h2>Syn3ck SNS</h2>
  <% @posts.reverse.each do |post| %>
  <div style="background-color: #ffffff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
    <h3 style="color: blue;"><%= post.name %></h3>
    <p><%= post.content %></p>
    <p style="font-size: 90%; text-align: right;"><a href="/wall/write_comment/<%= post.id %>">reply</a> <a href="/wall/edit/<%= post.id %>">edit</a> <a href="/wall/delete/<%= post.id %>">delete</a></p>
    <% post.comments.each do |comment| %>
    <div style="background-color: #fafbfb; width: 390px; border: 1px solid #d3d6db; padding: 0px 5px 0px 5px; word-break: break-all; text-align: left;">
      <p style="font-size: 90%; text-align: left"><span style="color: ##0000ff; font-weight: bold;"><%= comment.name %></span> <%= comment.content %></p>
    </div>
    <% end %>
  </div><br>
  <% end %>

<button type="button" onclick="location.href='/wall/write'"  class="btn btn-success" color=@brand-success;>Post again</button>

</div>

